@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #fff;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.glass {
  background: rgba(6, 47, 96, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 2px solid rgba(12, 111, 204, 0.082);
}

