body {
    background-color: #ffffff;
  }
  
.container {
    background-color: #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    max-width: 5000px;
    padding: 20px;
    text-align: center;
    width: 900px;
    height: 500px;
  }
  
.absen-button-container {
    margin-top: 300px; 
    margin-left: auto;
    
  }
  
  .absen-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-top: 10px;
  }
  
  nav {
    height: 100px; 
  }
  .container hr {
    border-color: grey;
    height: 2px;
    margin: 1rem 0;
  }
  